header{
    position: sticky;
    top: 0;
    margin-top: 10px;
}

.siteTitle{
    font-family: Arial, serif;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    margin-top: 10px;
}