global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    log global

frontend http_front
    bind *:80
    use_backend backend_api if { path_beg -i /api }
    default_backend backend_frontend

backend backend_api
    balance roundrobin
    server web webserver:5000

backend backend_frontend
    balance roundrobin
    server client webclient:80

