global
    daemon
    maxconn 256
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    log global

frontend http_front
    bind *:80
    bind *:443 ssl crt /srv/SSL/op-zverevastra.test.rx.pem

    # Редирект HTTP -> HTTPS
    http-request redirect scheme https code 301 unless { ssl_fc }
    
    # Важные заголовки для приложения
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    http-request set-header X-Forwarded-Host %[req.hdr(Host)]
    http-request set-header X-Forwarded-Port 443 if { ssl_fc }
    http-request set-header X-Forwarded-For %[src]
    
    # Стандартный заголовок для многих фреймворков
    http-request set-header X-Forwarded-Ssl on if { ssl_fc }
    
    # Для Django, Flask и др.
    http-request set-header X-Forwarded-Scheme https if { ssl_fc }

    use_backend backend_api if { path_beg -i /api }
    default_backend backend_frontend

backend backend_api
    balance roundrobin
    server web webserver:5000

backend backend_frontend
    balance roundrobin
    server client webclient:80
